<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<!--DispatcherServlet1설정  -->
	<servlet>
		<servlet-name>dispatcher1</servlet-name>
		<servlet-class>com.mycompany.web.servlet.DispatcherServlet1</servlet-class>
		<load-on-startup>1</load-on-startup><!--첫번째 실행할때 생성되는 서버가 실행될대 미리 실행해 놓기 위해 쓰는거 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher1</servlet-name>
		<url-pattern>/dispatcher1</url-pattern>
	</servlet-mapping>
	
	<!--DispatcherServlet2설정  -->
	<servlet><!--순서 중요 -->
		<servlet-name>dispatcher2</servlet-name>
		<servlet-class>com.mycompany.web.servlet.DispatcherServlet2</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servletContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher2</servlet-name>
		<url-pattern>/dispatcher2</url-pattern>
	</servlet-mapping>
	
	
	<!--DispatcherServlet3설정  -->
	<servlet>
		<servlet-name>dispatcher3</servlet-name>
		<servlet-class>com.mycompany.web.servlet.DispatcherServlet3</servlet-class>
		<load-on-startup>1</load-on-startup><!--첫번째 실행할때 생성되는 서버가 실행될대 미리 실행해 놓기 위해 쓰는거 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher3</servlet-name>
		<url-pattern>/dispatcher3</url-pattern>
	</servlet-mapping>
	
	<!--DispatcherServlet4설정  -->
	<servlet>
		<servlet-name>dispatcher4</servlet-name>
		<servlet-class>com.mycompany.web.servlet.DispatcherServlet4</servlet-class>
		<load-on-startup>1</load-on-startup><!--첫번째 실행할때 생성되는 서버가 실행될대 미리 실행해 놓기 위해 쓰는거 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher4</servlet-name>
		<url-pattern>/dispatcher4</url-pattern>
	</servlet-mapping>
	
	<!--DispatcherServlet5설정  -->
	<servlet>
		<servlet-name>dispatcher5</servlet-name>
		<servlet-class>com.mycompany.web.servlet.DispatcherServlet5</servlet-class>
		<load-on-startup>1</load-on-startup><!--첫번째 실행할때 생성되는 서버가 실행될대 미리 실행해 놓기 위해 쓰는거 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher5</servlet-name>
		<url-pattern>/dispatcher5</url-pattern>
	</servlet-mapping>
</web-app>